[package]
name = "ma_strategy_hui"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
strategy_api = { path = "../../strategy_api" }

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
